@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white">
    <div class="container" style=" text-align: center">
        <img src="~/Content/images/logo.png" style="width: 50%" />
    </div>
    <div class="col-xs-12" style="height:50px;"></div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is the BLOCK Project?</h2>
        <p>
            To learn more about the BLOCK Project, please visit the website <a href="http://www.the-block-project.com">here</a>!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hosts</h2>
        <p>
            A BLOCK host is the individual or family who owns the property where the BLOCK home is built. Hosts build a detailed household profile, and prospective residents and their caseworkers identify compatible potential matches. Hosts and residents meet in person to determine compatibility. BLOCK hosts serve as the liaison between the BLOCK Project team, the BLOCK resident, and their block; and also work in partnership with the resident’s caseworker/advocate to ensure a thoughtful transition and healthy living environment for the resident. Hosts enter into a contractual agreement with the BLOCK resident, create a customized code of conduct for their property based on their specific needs and preferences, and enter a contractual agreement with Facing Homelessness. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Residents</h2>
        <p>
            BLOCK residents are screened by and referred to the BLOCK Project by caseworkers at trusted wrap-around-care agencies. Prospective residents with a history of violence or abuse are not suitable for participation in the BLOCK Project. All prospective residents are required to list references from a service provider or casework; a long-term friend, family member, or colleague; and when relevant, a former roommate. The BLOCK Project is an intentionally low-barrier project, that allows participants (hosts and residents) to define their own criteria and preferences in order to create compatibility and comfort for both parties.
        </p>
    </div>
</div>