@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white">
    <div class="container" style=" text-align: center">
        <img src="~/Content/images/logo.png" style="width: 50%" />
    </div>
    <div class="col-xs-12" style="height:50px;"></div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is the Block Project?</h2>
        <p>
            At the heart of BLOCK Project is community.
            <b>When we nurture our compassion and empathy, we can power a movement to end homelessness.</b>
            Help us put a BLOCK Home in one packyard on every residential block in Seattle.
        </p>
        <p>
            The BLOCK Project invites community into the task of ending homelessness by placing a BLOCK Home
            in the backyard of one single-family lot on every residentially zoned block within the City of Seattle.
            Each 109 sq ft home is beautifully designed to be off-grid, self-sufficient, and amenity-rich
            (featuring a kitchen, bathroom, sleeping area, solar-panels, greywater system, composting toilet, etc.).
        </p>
        <p>To learn more about the BLOCK Project, please visit the website <a href="http://www.the-block-project.com">here</a>!</p>
    </div>
    <div class="col-md-4">
        <h2>Hosts</h2>
        <p>
            If you want to apply to become a host for the BLOCK Project, please contact: -------
        </p>
    </div>
    <div class="col-md-4">
        <h2>Residents</h2>
        <p>
            If you want to apply to become a resident for the BLOCK Project, please contact: -------
        </p>
    </div>
</div>