@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white">
    <div class="container" style=" text-align: center">
        <img src="~/Content/images/logo.png" style="width: 50%" />
    </div>
    <div class="col-xs-12" style="height:50px;"></div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is the Block Project?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet sapien augue, quis efficitur enim ornare nec. Integer semper ipsum dui, sed condimentum turpis elementum eget. Nam quis massa massa. Quisque eu neque turpis. Aliquam erat volutpat. Fusce pulvinar lectus vel risus aliquet, sit amet tempor elit tempor. Morbi in nisi ut urna vulputate cursus in vitae lectus. Suspendisse justo mi, cursus vitae mi in, efficitur bibendum dolor. Vivamus laoreet, dolor ac congue laoreet, neque lectus auctor mi, ac tempus eros orci sed dui. Cras eu fringilla ante, vitae ullamcorper diam. Cras sollicitudin purus sed mauris ultricies sodales.
        </p>
        <p>To learn more about the BLOCK Project, please visit the website <a href="http://www.the-block-project.com">here</a>!</p>
    </div>
    <div class="col-md-4">
        <h2>Hosts</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet sapien augue, quis efficitur enim ornare nec. Integer semper ipsum dui, sed condimentum turpis elementum eget. Nam quis massa massa. Quisque eu neque turpis. Aliquam erat volutpat. Fusce pulvinar lectus vel risus aliquet, sit amet tempor elit tempor. Morbi in nisi ut urna vulputate cursus in vitae lectus. Suspendisse justo mi, cursus vitae mi in, efficitur bibendum dolor. Vivamus laoreet, dolor ac congue laoreet, neque lectus auctor mi, ac tempus eros orci sed dui. Cras eu fringilla ante, vitae ullamcorper diam. Cras sollicitudin purus sed mauris ultricies sodales.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Residents</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet sapien augue, quis efficitur enim ornare nec. Integer semper ipsum dui, sed condimentum turpis elementum eget. Nam quis massa massa. Quisque eu neque turpis. Aliquam erat volutpat. Fusce pulvinar lectus vel risus aliquet, sit amet tempor elit tempor. Morbi in nisi ut urna vulputate cursus in vitae lectus. Suspendisse justo mi, cursus vitae mi in, efficitur bibendum dolor. Vivamus laoreet, dolor ac congue laoreet, neque lectus auctor mi, ac tempus eros orci sed dui. Cras eu fringilla ante, vitae ullamcorper diam. Cras sollicitudin purus sed mauris ultricies sodales.
        </p>
    </div>
</div>