@model List<TheBlockProject.Models.Photo>


<div class="item active">
    <img src="@Url.Action("GetThumbnailImage", "Profile", new { photoId = Model[0].Id })" alt="Primary Photo" />
</div>
@for (int i = 1; i < Model.Count; i++)
{
    <div class="item">
        <img src="@Url.Action("GetThumbnailImage", "Profile", new { photoId = Model[i].Id })" alt="Other Photo #@i" />
    </div>
}
