@using Microsoft.AspNet.Identity
@model TheBlockProject.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "My Profile";
}

@if (!Model.User.SurveyComplete)
{
    <div class="container">
        <div class="jumbotron">
            <p4><i>Please, complete your survey!</i></p4>
            <p class="text-warning">Your profile is not complete, which may impact your matching process with other users.</p>

            @Html.ActionLink("Complete Survey", "Index", "Survey")
        </div>
    </div>

}

@Html.Partial("_ProfilePartial", Model)

